
<div class="row">
  <div class="col-xs-12">
    <h1>{{ 'atelierKolegove'|trans }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 no-padding-right">2018 - 2019</div>
  <div class="col-xs-8">Bc. Nikola Slámová</div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-4">Maroš Belopotocký</div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-4">Ing. arch. Nikola Stibůrková</div>
</div>
<div class="row">
  <div class="col-xs-4 no-padding-right">2018</div>
  <div class="col-xs-8">Bc. Klára Mačková</div>
</div>

