<a href="{{ languageSwitchParameters.alternativeUrl }}">
  <span class="active-link">{{ languageSwitchParameters.currentAbbreviation }}</span>&nbsp;/&nbsp;{{ languageSwitchParameters.alternativeAbbreviation }}
</a>

