<a id="language-switcher" href="{{ languageSwitchParameters.alternativeUrl }}">
  <span class="active-link">{{ languageSwitchParameters.currentAbbreviation }}</span>
  <br>
  {{ languageSwitchParameters.alternativeAbbreviation }}
</a>

