<a id="language-switcher" href="{{ languageSwitchParameters.alternativeUrl }}">
  <span class="active-link">{{ languageSwitchParameters.currentAbbreviation|upper }}</span>&nbsp;/&nbsp;{{ languageSwitchParameters.alternativeAbbreviation|upper }}
</a>

