<a href="{{ languageSwitchParameters.alternativeUrl }}">
  {{ languageSwitchParameters.alternativeAbbreviation }}/<span class="active-link">{{ languageSwitchParameters.currentAbbreviation }}</span>
</a>

