{% extends "base-homepage.twig" %}

{% block title %}{{ 'titulekUvodka'|trans }}{% endblock %}
{% block body %}
  {{ parent() }}
  <div id="homepage-content" class="container-fluid">
  </div>
{% endblock %}
