{% extends "base.twig" %}

{% block title %}{{ 'homepageTitle'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <div id="homepage-content" class="container-fluid">

  </div>
{% endblock %}
