{% extends "base.twig" %}

{% block title %}Citadela{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <div id="content" class="container">
    <div class="row project-detail">
      <div class="col-sm-6 project-images">
        <div class="row">
          <div class="col-12">
            <img class="img-responsive" src="/images/projects/milano/1_thumbnail_big.JPG">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-4 project-image-thumbnail">
            <img class="img-responsive" src="/images/projects/milano/2_thumbnail_small.JPG">
          </div>
          <div class="col-sm-3 col-xs-4 project-image-thumbnail">
            <img class="img-responsive" src="/images/projects/milano/3_thumbnail_small.JPG">
          </div>
          <div class="col-sm-3 col-xs-4 project-image-thumbnail">
            <img class="img-responsive" src="/images/projects/milano/2_thumbnail_small.JPG">
          </div>
          <div class="col-sm-3 col-xs-4 project-image-thumbnail">
            <img class="img-responsive" src="/images/projects/milano/3_thumbnail_small.JPG">
          </div>
        </div>
      </div>
      <div class="col-sm-6 project-data">
        <h1>MILÁLO</h1>
        <table>
          <tbody>
            <tr>
              <th>REALIZACE</th>
              <td>01/04/2017</td>
            </tr>
            <tr>
              <th>LOKACE</th>
              <td>Miláno, Itálie</td>
            </tr>
            <tr>
              <th>ROZSAH</th>
              <td>Návrh interiéru</td>
            </tr>
          </tbody>
        </table>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet viverra ipsum, et pharetra magna iaculis a. Ut tincidunt ac ligula sed malesuada. Sed ultrices erat arcu, pellentesque maximus ligula venenatis quis. Quisque et ex ante. Etiam at venenatis ipsum. Pellentesque pretium tincidunt nibh a imperdiet. Donec consequat eleifend tortor. Quisque tincidunt mauris efficitur turpis volutpat luctus. Donec quis felis volutpat, gravida nisi ac, ultrices eros. Aliquam ac velit ut leo facilisis dignissim a a enim. Nunc eu feugiat orci. Nullam dignissim, dui nec pretium luctus, magna nunc maximus ex, hendrerit venenatis odio justo cursus augue. Quisque scelerisque vel erat nec eleifend. Sed a risus sit amet augue iaculis vestibulum id at ligula. Donec pulvinar sem sed felis cursus ultrices.
        </p>
      </div>
    </div>
  </div>
{% endblock %}

