{% extends "base-content.twig" %}

{% block title %}{{ 'titulekProjekty'|trans }}{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row no-gutter projects-list">
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
            <div class="project-list-title">Citadela mefisto</div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
            <div class="project-list-title">Citadela mefisto</div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="#" class="thumbnail">
          <div class="projects-list-square projects-list-project1">
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

