body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;  
}

body {
    margin-top: 50px;
      color: #000;  
}

@media (max-width: 767px) {
    #footer .text-right { 
      text-align:center 
    }
    #footer .text-left { 
      text-align:center 
    }
}

#footer {  
  font-size: 13px;
  color: #000;  
}

#footer a {  
  color: #000;
}

#footer #social-links {
  font-size: 20px;
}

.active-link {
  text-decoration: underline;
}

/* BOOTSTRAP fixes */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}


.navbar-default {
  background-color: #fff;
}

.navbar {
  border: none;
}

.navbar-collapse {
  border: none;
}

.navbar-brand {
  margin-top: -10px;
}