{% extends "base.twig" %}

{% block title %}{{ 'faqTitle'|trans }}'{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <h1>{{ 'faqTitle'|trans }}</h1>
{% endblock %}

