{% extends "base.twig" %}

{% block title %}{{ 'aboutUsTitle'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <div class="col-md-4 col-sm-12 about-us-block">
    <h3><i class="fa fa-user-o" aria-hidden="true"></i> KDO JSME</h3>
    <p>
      Jsme zapálený kreativní tým se zodpovědným přístupem. S radostí přijímáme výzvy, neobvyklá zadání i náročné investory. Děláme co nás baví a stále na sobě pracujeme. Čerpáme z novinek v oboru i z historie, ale především z pracovních zkušeností z tuzemska i zahraničí. Dokážeme pracovat nejen hlavou, ale i rukama. Zájmů máme tolik, že se to sem nevejde.
    </p>
  </div>
  <div class="col-md-4 col-sm-12 about-us-block">
    <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> JAK NAVRHUJEME?</h3>
    <p>
      Navrhujeme s ohledem na funkčnost, nadčasovost a estetiku, vždy se snahou o efektivní využití zdrojů investora. Klademe důraz na koncept. Stěžejní jsou pro nás logická a čistá řešení, ve kterých nechybí vtip ani detail. ”Méně je více” víceméně platí. Pracujeme s poctivými materiály ve své přirozené formě, ikonickými prvky nebo uměleckými díly.
    </p>
  </div>
  <div class="col-md-4 col-sm-12 about-us-block">
    <h3><i class="fa fa-flag-o" aria-hidden="true"></i> CO OD NÁS ČEKAT?</h3>
    <p>
      To co děláme, děláme pro Vás. Důležitá je vzájemná interakce, vtáhneme Vás do hry. My vám ukazujeme možnosti, vy děláte rozhodnutí. Platí “náš zákazník, náš pán”, ale odborníky jsme tu my a dovolíme si nesouhlasit. S výsledkem budete velmi spokojeni!
    </p>
  </div>
{% endblock %}

