{% extends "base-content.twig" %}

{% block title %}{{ 'titulekAtelier'|trans }}{% endblock %}
{% block content %}
  <div class="container-fluid atelier-header">
    <div class="container atelier-header-info">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <h1>Ing. arch. TEREZA HÁTLOVÁ</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a href="mailto:hatlova@plusminusnula.cz" target="_blank">hatlova@plusminusnula.cz</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              * Hradec Králové
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">2006 - 2012</div>
            <div class="col-sm-offset-2 col-sm-6">FA VUT v Brně</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2008 - 2009</div>
            <div class="col-sm-offset-2 col-sm-6">University of Bolton, GB</div>
          </div>
          <div class="row">
            <div class="col-sm-4">Atelier RAW</div>
            <div class="col-sm-offset-2 col-sm-6">2011 - 2017</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2011</div>
            <div class="col-sm-offset-2 col-sm-6">spolupráce s Obecní dům Brno na publikaci “Vila Tugendhat v Brně”</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013 - 2015</div>
            <div class="col-sm-offset-2 col-sm-6">spolupráce s Atelier RAW na rekonsdiv class="row"ukci a publikaci “Vila Münz”</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2016</div>
            <div class="col-sm-offset-2 col-sm-6">spolupráce se spolkem Obecní dům Brno na publikaci “Asnošt Wiesner 10 domů”</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2017</div>
            <div class="col-sm-offset-2 col-sm-6">spolupráce s Atelier RAW na soutěži “Cendiv class="row"ální dopravní terminál Jihlava” 1. místo </div>
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <h1>Ing. arch. LENA TRPĚLKOVÁ</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a href="mailto:trpelkova@plusminusnula.cz" target="_blank">trpelkova@plusminusnula.cz</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              * Brno
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">2008 - 2015</div>
            <div class="col-sm-offset-2 col-sm-6">FA VUT v Brně</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013 - 2014</div>
            <div class="col-sm-offset-2 col-sm-6">Lusíada University Lisbon , PT</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2014</div>
            <div class="col-sm-offset-2 col-sm-6">STUDIO FARRIS, Antverpy, BE</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2015 - 2017</div>
            <div class="col-sm-offset-2 col-sm-6">Atelier Brandštetr</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2015</div>
            <div class="col-sm-offset-2 col-sm-6">1. místo v soutěži “Revitalizace dominikánského kláštera v Chebu”</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013</div>
            <div class="col-sm-offset-2 col-sm-6">1. místo v soutěži “Současný dům očima mladých architektů”</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013</div>
            <div class="col-sm-offset-2 col-sm-6">umístění v TOP 4 a zvláštní ocenění v soutěži “Dům na míru”</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013</div>
            <div class="col-sm-offset-2 col-sm-6">umístění v TOP 6 v soutěži “Galerie architektury a designu”</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container atelier-info">
    <div class="row">
      <div class="col-sm-4">
        <h1>CO DĚLÁME</h1>
        <p>
          Atelier Plus minus nula nabízí profesionální servis v oblasti projekční a inženýrské činnosti. Pracujeme na projektech různých druhů a měřítek; od návrhů a rekonsdiv class="row"ukcí interiérů, výstavnictví, přes drobnou architekturu, až po větší stavby a urbanismus.
        </p>
        <p>
          Obraťte se na nás i s nediv class="row"adičním zadáním nebo nekonkrétní vizí projektu (investičním záměrem), kterou Vám pomůžeme rozvinout. Jsme tu pro Vás od úvodní konzultace až po spolupráci během realizace. Více o nabízených službách ZDE.
        </p>
      </div>
      <div class="col-sm-4">
        <h1>JAK TO DĚLÁME</h1>
        <p>
          Věříme, že základním kamenem kvalitního projektu je silný koncept, který odráží vizi investora, potřeby uživatelů a charakter místa. Otiskem těchto proměnných získává projekt vlastní nezaměnitelnou identitu.
        </p>
        <p>
          Držíme se svých zásad. Hlavní je koncept a identita projektu, dále funkčnost, nadčasovost, estetika, efektivní využití zdrojů investora i přírody. Vždy se snažíme o čistá a logická řešení, ve kterých nechybí vtip, poctivé materiály a precizní detaily. Cílem je <span class="color-text">&plusmn;</span> hladký proces, kvalitní projekt a 100% spokojenost investora.
        </p>
      </div>
      <div class="col-sm-4">
        <h1>PROČ PLUS MÍNUS NULA</h1>
        <p>
          Atelier PLUS MÍNUS NULA  je výsledkem rozhodnutí pracovat autorsky a samostatně. Spojením různorodých pracovních zkušeností z Česka i zahraničí tvoříme tým se společnou vizí a rozmanitým úhlem pohledu.
        </p>
        <p>
          Název PLUS MÍNUS NULA  pro nás znamená přiblížení se dokonalosti i nadhled se smyslem pro humor v někdejším pojmu z pozemního stavitelství. Nula prezentuje dokonalost, které nelze objektivně dosáhnout, proto odchylka <span class="color-text">&plusmn;</span>.
        </p>
      </div>
    </div>
  </div>

{% endblock %}