{% extends "base.twig" %}

{% block title %}{{ 'contactTitle'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <h1>{{ 'contactTitle'|trans }}</h1>
{% endblock %}

