{% extends "base.twig" %}

{% block title %}{{ 'titulekKontakt'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <div id="content" class="container">
  </div>
{% endblock %}

