{% extends "base.twig" %}

{% block title %}{{ 'offerTitle'|trans }}'{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <h1>{{ 'offerTitle'|trans }}</h1>
{% endblock %}

