{% extends "base.twig" %}

{% block title %}{{ 'whatWeDoTitle'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <h2>{{ 'whatWeDoTitle'|trans|upper }}</h2>

  <div class="row">
    <div class="col-sm-12">
      <p>
        Náš atelier nabízí profesionální servis v oblasti projekční a inženýrské činnosti. Pracujeme na projektech všech druhů; od drobných návrhů interiéru, přes rekonstrukce, až po nové stavby a urbanismus. Nejčastěji navrhujeme interiér - komerční i rezidenční, rodinné domy a byty. Neváhejte se na nás obrátit s jakýmkoliv zadáním.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>SPOLUPRÁCE PŘI REALIZACI</h2>
      <p>
        Naše spolupráce nemusí končit odevzdáním projektu. Díky našim zkušenostem s řemeslníky a dodavateli Vám můžeme ušetřit nejen čas, peníze, ale i nervy. Během realizace se postaráme o zajištění cenových nabídek od dodavatelů, koordinaci řemeslníků, pohlídáme fakturaci a pomůžeme dotáhnout realizaci v termínu.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offer-section">
      <h2>STAVBA</h2>
      <table>
        <tbody>
          <tr>
            <th>KONZULTACE ZÁMĚRU</th>
            <td>Vaše představy a možnosti x naše zkušenosti a postřehy.</td>
          </tr>
          <tr>
            <th>ZAMĚŘENÍ STÁVAJÍCÍHO STAVU</th>
            <td>Zajištění potřebných podkladů - zaměření, fotodokumentace, atd.</td>
          </tr>
          <tr>
            <th>NÁVRH VE FORMĚ STUDIE</th>
            <td>Prezentace konceptu - schemata, 2D výkresy, vizualizace, atd.</td>
          </tr>
          <tr>
            <th>TECHNICKÁ DOKUMENTACE</th>
            <td>Územní rozhodnutí, ohlášení či stavební povolení, atd.</td>
          </tr>
          <tr>
            <th>VYJÁDŘENÍ A STANOVISKA</th>
            <td>Dotčené orgány a majitelé technické infrastruktury.</td>
          </tr>
          <tr>
            <th>PROJEDNÁNÍ NA ÚŘADECH</th>
            <td>Pokud chcete šetřit své nervy.</td>
          </tr>
          <tr>
            <th>DOKUMENTACE PRO REALIZACI STAVBY</th>
            <td>Technické výkresy, konzultace s dodavateli, řešení detailů.</td>
          </tr>
          <tr>
            <th>AUTORSKÝ DOZOR</th>
            <td>Kontrolní dny- dohled nad realizací stavby dle schválené dokumentace</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 offer-section">
      <h2>INTERIÉR</h2>
      <table>
        <tbody>
          <tr>
            <th>KONZULTACE ZÁMĚRU</th>
            <td>Vaše představy a možnosti x naše zkušenosti a postřehy.</td>
          </tr>
          <tr>
            <th>ZAMĚŘENÍ STÁVAJÍCÍHO STAVU</th>
            <td>Zajištění potřebných podkladů - zaměření, fotodokumentace, atd.</td>
          </tr>
          <tr>
            <th>NÁVRH VE FORMĚ STUDIE</th>
            <td>Prezentace konceptu - schemata, 2D výkresy, vizualizace, atd.</td>
          </tr>
          <tr>
            <th>VYPRACOVÁNÍ PODKLADŮ PRO REALIZACI ATYPICKÝCH PRVKŮ</th>
            <td>Technické výkresy atypického vybavení, konzultace s dodavateli, řešení detailů.</td>
          </tr>
          <tr>
            <th>VÝBĚR TYPOVÝCH PRVKŮ A MATERIÁLŮ</th>
            <td>Výpisy typových prvků - nábytek, svítidla, textilie, doplňky atd.</td>
          </tr>
          <tr>
            <th>AUTORSKÝ DOZOR</th>
            <td>Dohled nad realizací projektu dle schválené dokumentace.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 offer-section">
      <h2>DESIGN</h2>
      <table>
        <tbody>
          <tr>
            <th>ORIGINÁLNÍ KUS NÁBYTKU NEBO SVÍTIDLA</th>
            <td>Např. signifikantní prvek v interieru.</td>
          </tr>
          <tr>
            <th>INSTALACE A DEKORACE</th>
            <td>Např. propsání identity firmy do návrhu.</td>
          </tr>
          <tr>
            <th>GRAFICKÝ DESIGN</th>
            <td>Propojení grafického designu s architekturou, např. kompletní vizuál kavárny - návrh loga, obalového designu, prezentační grafiky, aplikace navržených vzorů v interieru.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

