html {
  height: 100%;
  min-width: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000; 
  height: 100%;
}

h1 {
  font-family: Montserrat;
  font-weight: 300;
}

h1 {
  font-size: 1.1em;
}

a {
  color: #000;
}

a:hover, a:focus {
  color: #000;
}

strong {
  font-weight: 600;
}

table th {
  font-weight: 600;
}

table td {
  padding-left: 2em;
}

#content ul {
  list-style-type: none;
}

#content ul li:before {
  color:#ca1b2a;
  content: '\00b1';
  position: absolute;
  margin-left: -20px;
}

/* LANGUAGE SWITCHER */
#language-switcher {  
  font-size: 0.6em;
  line-height: 1.1em;
  display: block;
  padding-top: 41px;
}

/* GENERAL */
.active-link {
  color: #ca1b2a;
}

.row-filling-big { 
  height: 5em;
}

@media (max-width: 917px) {   
  .row-filling-big {
    height: 2em;
  }
}

#homepage-content {
  height: 100%;
  background: url(/images/logo-black.svg);
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: center 40%;
}

/* FOOTER */

#footer {  
  font-family: Montserrat;
  font-weight: 300;
  font-size: 0.9em;
  color: #666;
  line-height: 1.5em;  
  position: relative;
  clear:both;
  padding-top: 2em;
  padding-bottom: 1.5em;  
}

#footer a { 
  color: #666;
}

#footer span {
  white-space:nowrap;
}

#footer .fa {  
  padding: 0 5px 0 15px;
}

#footer #social-links .fa {
  font-size: 1.5em;
  padding: 0 0.3em; 
}

@media (max-width: 917px) {  
  #footer .text-right { 
    text-align:center 
  }

  #footer .text-left { 
    text-align:center 
  }

  #footer #social-links {
    padding-top: 2em; 
  }
}


/* PROJECTS */
.projects-list {
  padding: 0 15px;
}

.project-card {
  padding: 0; 
  position: relative;
}

.project-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #000;
}

.project-card:hover .project-card-overlay {
  opacity: 0.75;
}

.project-card a {
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: 300; 
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* PROJECT */
.project-image-thumbnail {
  padding: 0;
}

.project-data p {
  text-align: justify;
  margin-top: 1.5em;
}

.project-detail {
  padding-left: 15px;
}


/* FAQ */
.faq-questions a {
  display: block;
  margin-bottom: 0.4em;
}

.faq-questions a:hover, .faq-questions a:focus {
  color: #ca1b2a;
  text-decoration: none;
}

.faq-answers .panel {
  text-align: justify;
  margin-bottom: 0px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.faq-content li {
  margin-bottom: 1em;
}

/* BOOTSTRAP */
.navbar {  
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.1em;
  border: none;
  height: 40px;
}

.navbar-brand {
  margin-top: 23px;
  padding: 0;
}

@media (max-width: 917px) {   
  .navbar-brand {
    padding-left: 2em;
  }
}

.navbar-brand>img {
  width: 150px;
  border: none;
  display: inline;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-collapse {
  border: none;
}

.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
  padding-top: 34px;
  padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ca1b2a;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a.active-link {
  color: #ca1b2a;
}

.navbar-default .in {
  border: none;
  margin-top: -18px;
}

.navbar-default .in .navbar-nav > li > a {
  padding: 15px 15px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #666;
}


