html {
  height: 100%;
  min-width: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000; 
  height: 100%;
}

h1 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.1em;
}

a {
  color: #000;
}

a:hover, a:focus {
  color: #000;
}

strong {
  font-weight: 600;
}

table th {
  font-weight: 600;
}

table td {
  padding-left: 2em;
}

ul {
  list-style-type: none;
}

ul li:before {
  color:#ca1b2a;
  content: '\00b1';
  position: absolute;
  margin-left: -20px;
}

p {
  margin-bottom: 15px;
}

/* GENERAL */
.active-link {
  color: #ca1b2a;
}

.row-filling-big { 
  height: 5em;
}

.row-filling-small { 
  height: 1em;
}

.color-text {
  color: #ca1b2a;
}

@media (max-width: 917px) {   
  .row-filling-big {
    height: 2em;
  }
}

#homepage-content {
  height: 100%;
  background: url(/images/logo-black.svg);
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: center 40%;
}

@media (max-width: 917px) {   
  #homepage-content {
    background-size: 50% auto;
  }
}

@media (max-width: 504px) {   
  #homepage-content {
    background-size: 75% auto;
  }
}

#content-wrapper {
  min-height: 100%;
}

#content-including-navigation {
  overflow: auto;
  padding-bottom: 45px; /* stejna hodnota jako margin top u #footer */
}

@media (max-width: 917px) {  
  #content-including-navigation {
    padding-bottom: 70px;
  }
}

@media (max-width: 504px) {  
  #content-including-navigation {
    padding-bottom: 87px;
  }
}

@media (max-width: 346px) {  
  #content-including-navigation {
    padding-bottom: 105px;
  }
}

/* LANGUAGE SWITCHER */
#language-switcher {  
  font-size: 0.6em;
  line-height: 1.1em;
  display: block;
  padding-top: 41px;
}

@media (max-width: 917px) {  
  #language-switcher {
    padding-top: 12px;
  }
}

/* FOOTER */
#footer {  
  font-family: Montserrat;
  font-weight: 300;
  font-size: 0.9em;
  color: #666;
  line-height: 1.5em;  
  position: relative;
  clear:both;
  padding-top: 20px;
  padding-bottom: 5px;  
  margin-top: -45px; /* stejna hodnota jako padding bottom u #content-including-navigation */
}

#footer a { 
  color: #666;
}

#footer span {
  white-space:nowrap;
}

#footer .fa {  
  padding: 0 5px 0 15px;
}

#footer #social-links .fa {
  font-size: 1.3em;
  padding: 0 0.3em; 
}

@media (max-width: 917px) {  
  #footer {
    margin-top: -70px;
  }

  #footer .text-right { 
    text-align:center 
  }

  #footer .text-left { 
    text-align:center 
  }

  #footer #social-links {
    padding-top: 0.5em; 
  }

  #footer #social-links .fa {
    padding: 0 0.3em; 
  }
}

@media (max-width: 504px) {  
  #footer {
    margin-top: -87px;
  }
}

@media (max-width: 346px) {  
  #footer {
    margin-top: -105px;
  }
}


/* PROJECTS */
.projects-list {
  margin-top: -20px;
}

.project-list-image {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%) contrast(125%);
}

.project-list-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s linear;
}

.project-list-overlay:hover {
  opacity: 1;  
  mix-blend-mode: multiply;
  background-color: #ca1b2a;
}

.project-list-text {
  width: 100%;  
  text-align: center;
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* PROJECT */
.project-image-thumbnail {
  padding: 0;
}

.project-data p {
  text-align: justify;
  margin-top: 1.5em;
}

.project-detail {
  padding-left: 15px;
}


/* FAQ */
.faq-desktop-questions a {
  display: block;
  margin-bottom: 1.4em;
}
.faq-mobile-questions a {
  display: block;
  margin-bottom: 0.5em;
}

.faq-desktop-questions a:hover, .faq-desktop-questions a:focus, .faq-mobile-questions a:focus {
  color: #ca1b2a;
  text-decoration: none;
}

.faq-answers .panel {
  text-align: justify;
  margin-bottom: 0px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.faq-content li {
  margin-bottom: 1em;
}

/* BOOTSTRAP GENERAL */
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* BOOTSTRAP NAVBAR */
.navbar {  
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.1em;
  border: none;
  height: 40px;
}

@media (max-width: 917px) {
  .container>.navbar-header {
    width: 100%;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
  
  .navbar-default .navbar-toggle {
    margin-left: 0;
  }
}

.navbar-brand {
  margin-top: 23px;
  padding: 0;
  padding-left: 15px;
}

.navbar-brand>img {
  width: 150px;
  border: none;
  display: inline;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-collapse {
  border: none;
  background-color: transparent;
}

.navbar-header {
  margin-bottom: -23px;
}

.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-nav > li:before {
  content: '';
}

.navbar-default .navbar-nav > li > a {
  color: #000;
  padding-top: 34px;
  padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ca1b2a;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a.active-link {
  color: #ca1b2a;
}

.navbar-default .in, .navbar-default .collapsing {
  text-align: center;
  margin-top: 18px;
  float: left;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 15px;
  border-bottom: #666 1px solid;  
}

.navbar-default .in .navbar-nav > li > a, .navbar-default .collapsing .navbar-nav > li > a {
  padding: 10px 10px;
}

.navbar-default .in .navbar-nav > li > a, .navbar-default .collapsing .navbar-nav > li > a {
  padding: 10px 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #666;
}


/* BOOSTRAP FORMS */
.input-group .with-errors {
  padding-left: 12px;
  font-size: 0.9em;
  color: #ca1b2a;
}

.input-group .with-errors ul li:before {
  content: '';
}

.form-group {
  border: 1px solid #aaa;
  margin-bottom: -1px;  
}

.input-group-addon {
  font-size: 0.9em;
  background-color: #fff;
  border: none;
  min-width: 6em;
  color: #aaa;
  text-align: left;
  vertical-align: top;
}

.has-error .input-group-addon {
  color: #ca1b2a;
  background-color: #fff;
}

.form-control {
  height: 39px;
  padding-top: 17px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-contact-email-sent {
  background-image: url(/images/zero-black.svg);
  width: 110px;
  background-size: 97px;
  background-position-y: -11px;
  background-position-x: 37px;
  height: 69px;
  text-align: left;
  font-weight: 600;
  color: #000 ;
  padding-top: 0;
  background-color: transparent;
  position: relative;
  top: -49px;
  left: 80%;
  z-index: 10;
}

.btn-contact-email-sent:hover, .btn-contact-email-sent:focus, .btn-contact-email-sent:active {
  color: #ca1b2a;
  background-image: url(/images/zero-black-red.svg);
}

.alert {
  border-radius: 0px;
}